.fabric/
data/
defaultconfigs/
downloads/
logs/
profileImage/
saves/
schematics/
shaderpacks/
XaeroWaypoints*/
XaeroWorldMap
emi.json
irisUpdateInfo.json
minecraftinstance.json
options.txt
polymer-resourcepack.zip
servers.dat
servers.dat_old
spell_engine_tutorial.json